{% extends '@DokifyAdminCompany/layout.html.twig' %}

{% block content %}
<div class="container">

    <div class="row">
        {{ form(form) }}
    </div>

</div><!-- /.container -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}