{% extends '@DokifyCompany/layout.html.twig' %}

{% block content %}
<div class="container">

    <h2>Select a company...</h2>
    <div class="row">
        <div class="col-xs-4">
            <select id="select_company" class="form-control">
                <option selected="selected">Select a company...</option>
                {% for company in companies %}
                    <option value="{{ company.id }}">{{ company.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div id="relations" class="row">

    </div>

</div><!-- /.container -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("#select_company").on("change", function(){

            var company = $(this).val();
            $.get(Routing.generate('companies_related', { company: company }), function( data ) {
                $("#relations").html(data);
            });
        });
    </script>
{% endblock %}